*{
    border: 2px;
    border-style: solid;
    border-color: black;
}
body {
    background:radial-gradient(#f5f2f2, rgb(243, 113, 113)) fixed;
}
header{
    background-image: url(../img/design_img/pexels-photo-1494582.jpeg);
}
nav li{
    float: right;
    padding-top: 18px;
    padding-right: 8px;
    border: 1px;
    border-color: black;
    border-style: solid;
    width: 80px;
    height: 40px;
    border-radius: 25px;
    text-align: center;
    margin-top: 30px;
}
header img{
    width: 8%;
}
header h1{
    display: inline-block;
    font-size: 200%;
    font-family: verdana;
}
article{
    float: left;
}

content img{
    padding: 25px;
    width:20%;
}

content div input{
    display: inline-block;
    float: center;
    width: 300px;
}

content input{
    width: 40%;
    display: inline-block;
}
content p{
    padding-bottom: 80px;
}

footer{
    height: 133px;
    background-image: url(../img/design_img/pexels-photo-1494582.jpeg);
}
