body {
    background:radial-gradient(#f5f2f2, rgb(243, 113, 113)) fixed;
}
header{
    background-image: url(../img/design_img/pexels-photo-1494582.jpeg);
}
nav li{
    float: right;
    padding-top: 18px;
    padding-right: 8px;
    border: 1px;
    border-color: black;
    border-style: solid;
    width: 80px;
    height: 40px;
    border-radius: 25px;
    text-align: center;
    margin-top: 30px;
}
header img{
    width: 8%;
}
header h1{
    display: inline-block;
    font-size: 200%;
    font-family: verdana;
}
article{
    float: left;
}
form{
    margin:auto;
}
form > div{
    display: inline-block;   
}
form div img{
    width: 200px;
    padding: 30px;
    position: relative;
    left: 140px;
}
form > div > input{
    width: 100px;
    padding-bottom: 60px;
    position: relative;
    right: 50px;
}
#button{
    padding: 40px, 0px, 40px, 0px;
    width: 250px;
    position: relative;
    right: 600px;
    top: 20px;
}
content p{
    padding-bottom: 80px;
    width: 100%;
    position: relative;
    top: 50px;
}
content div{
    width: 900px;
    height: 600px;
    display: block;
    margin: auto;
}

footer{
    height: 133px;
    background-image: url(../img/design_img/pexels-photo-1494582.jpeg);
}
